/**
 * JsPOPUPIFY
 *
 * This is merely the css.
 */

#popupify-dim {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 98;
    /*
     Your Dimming-Backgroundcolor.
    */
        background: #fff;
}

#popupify-container {
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 99;
}

#popupify-container-bg {
    overflow: auto;
    /*
     Edge Radius
    */
        -moz-border-radius: 9px;
        border-radius: 9px;
    /*
     Your Box's Outerborder
    */
        border: 7px solid #111;
    /*
     Your Box's Innerborder's color
    */
        background: #ddd;
    /*
     Your Box's Shadow
    */
        -moz-box-shadow: 2px 2px 6px #222; /* Gecko/Mozilla */
        -webkit-box-shadow: 2px 2px 6px #222; /* Webkits */
        box-shadow: 2px 2px 6px #222; /* Chrome */
}

#popupify-container-fg {
    position: relative;
    font-family: arial;
    font-size: 12px;
    color: #ccc;
}

#popupify-container-fg a {
    text-decoration: underline;
    font-family: arial;
    font-size: 12px;
    color: #eee;
}

#popupify-container-fg .ppcontent {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    color: #222;
}

#popupify-container-fg .ppcontent a {
    color: #A33;
}

#popupify-container-fg .ppheadline {
    font-family: 'GodOfWar', Arial;
    font-size: 24px;
    font-weight: normal;
    color: #000;
    width: 100%;
    border-bottom: 2px solid #181515;
    background: #622;
    -moz-box-shadow: 2px 2px 2px #000;
    -webkit-box-shadow: 2px 2px 2px #000;
    box-shadow: 4px 4px 6px #555;
    text-shadow: 1px 1px 1px #fee;
}

/**
 * Cancel Button
 */
#popupify-container-cancel {
    z-index: 100;
    position: absolute;
    color: #A33;
    /*
     Edge Radius
    */
        -moz-border-radius: 24px;
        border-radius: 24px;
    /*
     Your Box's Outerborder
    */
        border: 3px solid #333;
    /*
     Your Box's Innerborder's color
    */
        background: #222;
    /*
     Your Box's Shadow
    */
        -moz-box-shadow: 2px 2px 6px #111; /* Gecko/Mozilla */
        -webkit-box-shadow: 2px 2px 6px #111; /* Webkits */
        box-shadow: 2px 2px 6px #111; /* Chrome */
}

#popupify-container-cancel a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: arial;
    font-weight: bold;
    color: #A33;
}

#popupify-loading {
    width: 16px;
    height: 11px;
    background-image: url(./popupify/ajax-load.gif);
}